

.slider{
    height: 40vh;
    display: flex;
	width: 450px;
}
.preview img{
    height: 100%;
	width: 100%;
}
.preview {
	margin: 20px auto;
    height: 85%;
	width: 80%;
}

.brand{
    background: #fff;
    width: fit-content;
    color: #fff;
    font-size: 12px;
    padding: 2px 5px;
}
/*h2{
    font-size: 45px;
    color: #555;
    margin-bottom: 20px;
}*/

input{
    width: 30px;
    border: 1px solid #ccc;
    font-weight: bold;
    text-align: center;
}
button{
    color: #fff;
    font-size: 15px;
    outline: none;
    border: 0;
    border-radius: 5px;
    background: #fe980f;
    padding: 10px 15px;
    box-sizing: border-box;
    cursor: pointer;
}
button .fa{
    margin-right: 10px;
}

/*for slider*/
    	 ul{
			list-style: none outside none;
		    padding-left: 0;
            margin: 0;
		}
	.box{
		width: 500px;
		box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
		border-radius: 10px;
		padding-right: 80px;
		padding-top: 10px;
	}

        .item{
            margin-bottom: 60px;
        }

	.content-slider{
		padding: 10px 10px 10px 10px;
		
		
	}
		.content-slider li img {
			margin: 10px;
			width: 80%;
			height: 70%;
			object-fit: contain;
		}
		.content-slider li{
			border-right: 2px black solid;
			border-left: 2px black solid;
			border-top: 2px black solid;
		    width: 90px;
			border-top-right-radius: 10px;
			border-top-left-radius: 10px;
			
		    text-align: center;
		    color: #FFF;
			
			position: relative;
			
		}
.content-slider li:hover{
	animation: updown 0.2s;

	box-shadow: 2px 2px 30px rgba(0,0,0,0.3);
}
@keyframes updown {
    0% {
        bottom: 4px;
    }
	25% {
        bottom: 6px;
    }

    50% {
        bottom: 8px;
    }

    100% {
        bottom: 10px;
    }
}












