
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

@* Stok Hata Sayfası *@
<div class="container" style="padding: 50px;">

    <h2 align="center" style="font-style: verdana; color: red;"><i class='bx bx-error-alt'></i> @ViewBag.notEnough</h2>
</div>


