
@{
    ViewBag.Title = "DeleteBasketAfterSave";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@* Uyarı Gösterir *@
<h2 align="center" style="margin: 50px auto; color: green;"><i class='bx bxs-cart-add'></i> Siparişiniz Alındı</h2>


